# Wiki Txt 103

In [52]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [53]:
train_1 = pd.read_parquet('./data/wikitext/train-00000-of-00002.parquet')
train_2 = pd.read_parquet('./data/wikitext/train-00001-of-00002.parquet')
train = pd.concat([train_1, train_2], axis=0)
train.shape
train.head()

(1801350, 1)

                                                text
0
1                     = Valkyria Chronicles III = \n
2
3   Senjō no Valkyria 3 : Unrecorded Chronicles (...
4   The game began development in 2010 , carrying...

In [54]:
train['text'].value_counts()

text
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     636321
 = = History = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5789
 = = Reception = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  4585
 = = Background = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3939
 = = Plot = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       3195
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
 The Senedd is part of the National Assembly estate in Cardiff Bay , along with Tŷ Hywel ( Howell House ) and the Grade 1 listed Pierhead Building in Cardiff Bay . Tŷ Hywel houses staff of the Assembly Commission , AMs , the First Minister and other ministers . Tŷ Hywel is named after Hywel Dda ( Howell the Good ) , King of Deheubarth in South West Wales . On 26 June 2008 , the Prince of Wales officially opened Siambr Hywel , the National Assembly 's youth debating chamber and education centre . It is based in the debating chamber that was used by the National Assembly between 1999 and 2006 , while the Senedd was being constructed . Two covered link bridges connect the Senedd to Tŷ Hywel . Construction of the link bridges began in September 2004 and they were completed by December 2005 . \n         1
 The Pierhead Building was opened in 1897 and designed by William Frame . It was originally the headquarters of the Bute Dock Company and by 1947 it was the administrative office for the Port of Cardiff . The building was reopened in May 2001 as ' The Assembly at the Pierhead ' , which was a visitor and education centre for the National Assembly . The exhibition provided visitors with information on the National Assembly . On 1 March 2010 , the building was again reopened to the public as a Welsh history museum and exhibition . In 2008 , Elis @-@ Thomas announced that the Pierhead Building would display the history of the black community in Butetown , Cardiff Docks and Welsh devolution . \n                                                                                                               1
 = = Nominations and awards = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
 Nominated for the 2006 Stirling Prize awarded by the Royal Institute of British Architects . The award was won by Terminal 4 , Barajas Airport , Madrid , also an RRP design . \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
 He worked as design lead on Bungie 's 2014 video game Destiny . \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Name: count, Length: 973414, dtype: int64

In [55]:
train = train[train['text'] != '']
train.shape
train['text'].value_counts()

(1165029, 1)

text
= = History = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            5789
= = Reception = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          4585
= = Background = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         3939
= = Plot = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3195
= = Production = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         3129
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
The Pierhead Building was opened in 1897 and designed by William Frame . It was originally the headquarters of the Bute Dock Company and by 1947 it was the administrative office for the Port of Cardiff . The building was reopened in May 2001 as ' The Assembly at the Pierhead ' , which was a visitor and education centre for the National Assembly . The exhibition provided visitors with information on the National Assembly . On 1 March 2010 , the building was again reopened to the public as a Welsh history museum and exhibition . In 2008 , Elis @-@ Thomas announced that the Pierhead Building would display the history of the black community in Butetown , Cardiff Docks and Welsh devolution . \n       1
= = Nominations and awards = = \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Nominated for the 2006 Stirling Prize awarded by the Royal Institute of British Architects . The award was won by Terminal 4 , Barajas Airport , Madrid , also an RRP design . \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Nominated for the 2006 Prime Minister 's Better Public Building Award . \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
He worked as design lead on Bungie 's 2014 video game Destiny . \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
Name: count, Length: 973413, dtype: int64

In [56]:
headings = train[train['text'].str.startswith('= =')]
headings.value_counts()

Series([], Name: count, dtype: int64)

## process validate and test datasets

In [57]:
test = pd.read_parquet('./data/wikitext/test-00000-of-00001.parquet')
test.shape
test.head()

(4358, 1)

                                                text
0
1                              = Robert Boulter = \n
2
3   Robert Boulter is an English film , televisio...
4   In 2006 , Boulter starred alongside Whishaw i...

In [58]:
valid = pd.read_parquet('./data/wikitext/validation-00000-of-00001.parquet')
valid.shape
valid.head()

(3760, 1)

                                                text
0
1                            = Homarus gammarus = \n
2
3   Homarus gammarus , known as the European lobs...
4

#### export dataset for char based gpt

In [59]:
import re

def remove_non_english_characters(text):
    return re.sub(r'[^\x20-\x7E]', '', text)

In [60]:
def clean_words(text):
    text = remove_non_english_characters(text)
    text = re.sub(r'=', ' ', text)
    text = re.sub(r'\s+', ' ', text)
    text = re.sub(r'@.*?@', ' ', text)
    text = re.sub(r'\(\s*\)', ' ', text)
    text = re.sub(r'\[\s*\]', ' ', text)
    text = re.sub(r'\{\s*\}', ' ', text)
    # text = re.sub(r'\s+,\s+', ', ', text)
    # text = re.sub(r'\s+.\s+', '. ', text)
    text = re.sub(r'\s+', ' ', text)
    return text.strip()

In [61]:
train['text'] = train['text'].apply(clean_words)
train.head()

                                                text
1                            Valkyria Chronicles III
3  Senj no Valkyria 3 : Unrecorded Chronicles ( J...
4  The game began development in 2010 , carrying ...
5  It met with positive sales in Japan , and was ...
7                                           Gameplay

In [62]:
mini_gpt = ' '.join(train['text'].astype(str))

In [63]:
len(mini_gpt)
mini_gpt[:1000]

527204238

'Valkyria Chronicles III Senj no Valkyria 3 : Unrecorded Chronicles ( Japanese : 3 , lit . Valkyria of the Battlefield 3 ) , commonly referred to as Valkyria Chronicles III outside Japan , is a tactical role playing video game developed by Sega and Media.Vision for the PlayStation Portable . Released in January 2011 in Japan , it is the third game in the Valkyria series . Employing the same fusion of tactical and real time gameplay as its predecessors , the story runs parallel to the first game and follows the " Nameless " , a penal military unit serving the nation of Gallia during the Second Europan War who perform secret black operations and are pitted against the Imperial unit " Calamaty Raven " . The game began development in 2010 , carrying over a large portion of the work done on Valkyria Chronicles II . While it retained the standard features of the series , it also underwent multiple adjustments , such as making the game more forgiving for series newcomers . Character designer R'

In [64]:
with open('./data/mini_gpt.txt', 'w') as f:
    f.write(mini_gpt)

527204238

In [65]:
del mini_gpt

In [66]:
test = test[test['text'] != '']
test['text'] = test['text'].apply(clean_words)
test_mini_gpt = ' '.join(test['text'].astype(str))
test_mini_gpt = clean_words(test_mini_gpt)

len(test_mini_gpt)
with open('./data/test_mini_gpt.txt', 'w') as f:
    f.write(test_mini_gpt)
del test_mini_gpt

valid = valid[valid['text'] != '']
valid['test'] = valid['text'].apply(clean_words)
valid_mini_gpt = ' '.join(valid['text'].astype(str))
valid_mini_gpt = clean_words(valid_mini_gpt)

len(valid_mini_gpt)
with open('./data/valid_mini_gpt.txt', 'w') as f:
    f.write(valid_mini_gpt)
del valid_mini_gpt

1258729

1258729

1025171

1025171